APP_ENV=local
LOG_LEVEL=INFO
APP_HTTP_ADDR=:8080
WORKER_HTTP_ADDR=:8081
WORKER_HOST_PORT=18081
POSTGRES_HOST_PORT=5432
REDIS_HOST_PORT=6379
POSTGRES_USER=roundrobin
POSTGRES_PASSWORD=roundrobin
POSTGRES_DB=roundrobin
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
JOB_QUEUE_NAME=round-robin-jobs
APP_IMAGE=round-robin-app:local
WORKER_IMAGE=round-robin-worker:local
KIND_CLUSTER_NAME=round-robin
KIND_NODE_IMAGE=kindest/node:v1.31.0@sha256:53df588e04085fd41ae12de0c3fe4c72f7013bba32a20e7325357a1ac94ba865
KUBE_NAMESPACE=round-robin
RAW_KUBE_NAMESPACE=round-robin-raw
INGRESS_HOST=app.127.0.0.1.nip.io
PROMETHEUS_HOST=prometheus.127.0.0.1.nip.io
GRAFANA_HOST=grafana.127.0.0.1.nip.io
